

.articleCard{
    margin: 10px;
    background-color: cyan;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}





.blog-grid{
    display: flex;
    width: 100%;
}



.tenPer{
    min-width: 20%;
    display: flex;
    height: 100%;
    background-color: rgb(247, 97, 114);
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 80%;
}


