

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  width: 80%;
  height: fit-content;
  align-items: center;
  margin: 40px 0px 40px 0px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-inline-start: 0px;
    
    
}


.navbar li{
    margin: 10px;
    padding: 2px 10px 2px 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid rgb(247, 97, 114);
    border-radius: 20px;
    color: black;
    text-align: center;
    
}
.navbar li:hover {
  background-color:rgb(247, 97, 114) ;
  color: white;
  transition: background-color 0.5s;

}

.navlink{
text-decoration: none;
color: black;
margin: 0 10px 0px 10px;
}

.otherBtn{
  display: flex;
  height: fit-content;
  
  
}
.loginBtn{
display: flex;

}
.loginBtn li{
  border: 3px solid rgb(0, 167, 225);
}

.loginBtn li:hover{
  background-color:rgb(0, 167, 225) ;
  
  transition: background-color 0.5s;
}

.hide{
  display:none;
}

.loginBtn .active li{
  background-color: rgb(0, 167, 225);
}

.otherBtn .active li{
  background-color:rgb(247, 97, 114) ;
}


.toggleBtn{
  display: none;
  width: 100px;
  height: 40px;
  margin: 10px;
  border: none;
  width: 60px;
  word-wrap: break-word;
  height: fit-content;
  background-color: peru;
  color: white;
}

@media only screen and (max-width:600px){
  .navbar li{
    margin: 5px;
    
    font-size: 14px;
    
    
}
}

@media only screen and (max-width: 992px){
  .navbar{

    overflow: hidden;
    z-index: 1;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px;
  color: white;
  }
  
.otherBtn{
  display: flex;
  align-items: center;
  
  
}
  .navbar li{
    color: white;
  }
  .loginBtn{
    display: none;
  }
  .toggleBtn{
    display: block;
  }
  
}