.singlePostcontainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top:20px;
    height: fit-content;
    
    
    justify-content: center;
    align-items: center;

    

    
}

.singlePost{
max-width: 70%;
min-width: 60%;
background-color:rgb(236, 195, 223);
padding: 20px;
box-shadow: -14px -12px 0px -5px rgba(221, 181, 245);
border-radius: 10px;

}
.singlePost h1{
    color: rgb(0, 167, 225);
}
.singlePost p{
    color: rgb(247, 97, 114);
}
.comment{
   
    padding:6px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 217, 223);
    color: black;
    overflow-wrap: break-word;
    
}

.comment h3{
    
        
        font-size: 15px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: normal;
    
    
}
.comment h6{
    
    font-size: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: normal;
    
}
.singlePost hr{
    
        min-width: 90%;
        max-width: 90%;
        height: 5px;
        border: 0;
        border-radius: 10px;
        background-color: rgb(217, 229, 214);
    
}
.postContainer{
    display: flex;
    width: 100%;
    
}
.btnCom{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}


.commentFlex{
    width: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.commentFlex input{
    border: none;
    padding: 0px;
    height: 25px;
    width: 80%;
}
.commentFlex button{
    height: 25px;
    border: none;
    padding: 0;
    background-color: aqua;
    width: 20%;
}


@media only screen and (max-width: 600px){
    .singlePostcontainer{
       
        width: 100%;

    }
    
.singlePost h1{
    
    font-size: 16px;
}
.singlePost p{
    font-size: 14px;
}


.comment h3{
    
        
        font-size: 13px;
        
    
    
}
.comment h6{
    
    font-size: 10px;
    
    
}

}





@media only screen and (max-width: 992px){
    .singlePostcontainer{
        margin-bottom: 70px;
    }
}